<ion-header>
  <ion-toolbar>
    <ion-title>Race List</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-race">Add New Race</ion-button>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let race of races"
      [routerLink]="['/race-detail', race.id]"
    >
      <ion-label>
        <h2>{{ race.name }}</h2>
        <p>{{ race.date | date: 'longDate' }}</p>
        <p><strong>Track Name:</strong> {{ race.trackName }}</p>
        <p><strong>Track Length:</strong> {{ race.trackLength }} km</p>
        <p><strong>Track Type:</strong> {{ race.trackType }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
